{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% if post.language == 'zh' and include.home and post.homepage_title %}
    {% assign title = post.homepage_title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% elsif post.language == 'zh' and post.english_title %}
    {% assign title = post.english_title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% else %}
    {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% endif %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.language == 'zh' %}
      <p class="publication-original-title">{{ post.title }}</p>
    {% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          {% if include.home and post.homepage_authors %}
            <p class="publication-authors">{{ post.homepage_authors }}</p>
          {% elsif post.authors %}
            <p class="publication-authors">{{ post.authors }}</p>
          {% endif %}
          <p class="publication-meta">
            <i>{% if include.home and post.homepage_venue %}{{ post.homepage_venue }}{% else %}{{ post.venue }}{% endif %}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
            {% if post.homepage_language %}<span class="publication-language">{{ post.homepage_language }}</span>{% endif %}
            {% if post.homepage_badges %}
              {% for badge in post.homepage_badges %}<span class="publication-ranking">{{ badge }}</span>{% endfor %}
            {% endif %}
            {% if post.status %}<span class="publication-status">{{ post.status }}</span>{% endif %}
            {% if post.role %}<span class="publication-role">{{ post.role }}</span>{% endif %}
          </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <div class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></div>
    {% endif %}
    
    {% if post.pdfurl or post.paperurl or post.slidesurl %}
      <p class="publication-links">
        {% if post.pdfurl %}<a href="{{ post.pdfurl | relative_url }}" target="_blank" rel="noopener">PDF</a>{% endif %}
        {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank" rel="noopener">{{ post.paperlabel | default: "View publication" }}</a>{% endif %}
        {% if post.slidesurl %}<a href="{{ post.slidesurl }}" target="_blank" rel="noopener">Slides</a>{% endif %}
      </p>
    {% elsif post.citation %}
      <p class="publication-citation">{{ post.citation }}</p>
    {% endif %}

  </article>
</div>
